
.image-cadis{
    bottom: 0;  
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: green;
    border: 0;
    cursor: pointer;
    outline: none;
    z-index: 4;
    border-radius: 15px;
    padding: 0px;
}
.image-cadis::before{
 content: '\f370';
 font-size: 1.7em;
 padding: 15px 20px;
 text-shadow: 0 1px 1px #1a1a1a;
 color: #fff;
 line-height: .7;
 transition: color .2s ease-out;
 display: inline-block;
 font-family: "Ionicons";
 font-style: normal;
 font-weight: normal;
 font-feature-settings: normal;
 font-variant: normal;
 text-transform: none;
 text-rendering: auto;
}
.image-cadis:hover{
 color: #fff;
 transform: scale(1.1);
}
.contenant-prix{
    background: #03043a;
    width: 15%;
}
.contenant-cadis{
    right: 0px;
    position: absolute;
}
hr{
    border-top: 1px solid rgba(255,255,255,1);
}
.insideStyles{
    background: rgba(255,255,255,.7);
    padding: 20px;
    color: black;
    position: absolute;
    top:10%;
}
.image-gallery-fullscreen-button::before, .image-gallery-play-button::before{
font-size: 1.7em;
}
.Contenant-images{
    width: 40% ;
    font-size: 0.7em;
}
.Contenant-images .image-gallery-slides{
    height: 305px !important;
}
.image-gallery-slides {
    height: auto !important;
}
.description-achat-voyage tr td{
    vertical-align: top;
}

textarea{
    resize: none !important;
    vertical-align: baseline !important;
}